<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring-Boot Básico</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/af46ebb8cd.js" crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/lista.css}" rel="stylesheet" />
    <link th:href="@{/css/mesas_pedido.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <aside>
        <nav th:replace="~{gerente/sidebar :: nav-sidebar}">
            <span>menu</span>
        </nav>
    </aside>

    <section layout:fragment="corpo" class="main p-3">
        <div class="text-center">
            <h1>
                Sidebar Bootstrap 5
            </h1>
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- Nosso JS -->
<script th:src="@{/js/script.js}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var url = '';

        $('button[id^="btn_"]').click(function() {
            var pathParts = $(this).attr('id').split('_');
            var basePath = pathParts[1];
            var entity = pathParts[2];
            var entityId = pathParts[3];
            url = `http://localhost:8080/${basePath}/${entity}/${entityId}/excluir`;
        });

        $('#ok_confirm').click(function() {
            document.location.href = url;
        });
    });
</script>

</body>
</html>
