<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<aside id="sidebar" th:fragment="nav-sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="sidebar-logo" style="">
<!--            <a href="#"></a>-->
            <img src="../static/images/logo2.svg" th:src="@{/images/logo-side.svg}" style="width: 35px;">
            <span style="font-family: 'Montserrat', sans-serif; color: white; font-weight: 600;">serviserve</span>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#orders" aria-expanded="false" aria-controls="orders">
                <i class="fa-solid fa-bell-concierge"></i>
                <span>Pedidos</span>
            </a>
            <ul id="orders" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a th:href="@{/gerente/pedidos/mesas}" class="sidebar-link">Mesas</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/cancelamentos}" class="sidebar-link">Cancelamentos</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/gerente/produtos}" class="sidebar-link">
                <i class="fa-solid fa-drumstick-bite"></i>
                <span>Produtos</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/gerente/mesas}" class="sidebar-link">
                <i class="fa-solid fa-chair"></i>
                <span>Mesas</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fa-solid fa-users"></i>
                <span>Funcionários</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a th:href="@{/gerente/gerentes}" class="sidebar-link">Gerentes</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/garcons}" class="sidebar-link">Garçons</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/caixas}" class="sidebar-link">Caixas</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/cozinheiros}" class="sidebar-link">Cozinha</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/perfil}" class="sidebar-link">
                <i class="fa-solid fa-user"></i>
                <span>Conta</span>
            </a>
        </li>

    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link" th:onclick="|document.getElementById('logoutForm').submit()|">
            <i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i>
            <span>Sair</span>
        </a>
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </div>
</aside>

</html>