<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<aside id="sidebar" th:fragment="nav-sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#"></a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a th:href="@{/gerente/pedidos}" class="sidebar-link">
                <i class="fa-solid fa-bell-concierge"></i>
                <span>Pedidos</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/gerente/produtos}" class="sidebar-link">
                <i class="fa-solid fa-drumstick-bite"></i>
                <span>Produtos</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/gerente/mesas}" class="sidebar-link">
                <i class="fa-solid fa-chair"></i>
                <span>Mesas</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fa-solid fa-users"></i>
                <span>Funcionários</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a th:href="@{/gerente/atendentes/gerentes}" class="sidebar-link">Gerentes</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/atendentes/garçons}" class="sidebar-link">Garçons</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/caixas}" class="sidebar-link">Caixas</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/gerente/cozinheiros}" class="sidebar-link">Cozinha</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-user"></i>
                <span>Conta</span>
            </a>
        </li>

    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i>
            <span>Sair</span>
        </a>
    </div>
</aside>

</html>