<!DOCTYPE html>
<html th:with="layout=${layout}" layout:decorate="${layout}" xmlns="http://www.w3.org/1999/xhtml">
<body>

<section class="main p-4" layout:fragment="corpo">
    <div class="header-area container" style="display: flex; justify-content: space-between; align-items: center;">
        <a th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/mesas'}" class="btn btn-primary" style="width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
            <i class="fa fa-arrow-left" style="font-size: 16px;"></i>
        </a>
    </div>

    <div class="container mt-4">
        <div class="row" th:if="${!#lists.isEmpty(todosProdutos)}">
            <th:block th:each="instancia : ${todosProdutos}">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${instancia.produto.descricao}"></h5>
                            <p class="card-text" th:text="${#numbers.formatCurrency(instancia.valor)}"></p>
                            <form th:if="${!pedido.containsProduto(instancia.produto.id)}"
                                  th:action="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/add/instancia/' + ${instancia.id}}" method="post">
                                <button type="submit" class="btn btn-secondary">
                                    Adicionar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div class="container mt-4" th:if="${!#lists.isEmpty(pedido.produtos)}">
        <div class="card">
            <div class="card-header">
                Seu Pedido
            </div>
            <form th:action="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/novo/salvar'}" th:object="${pedido}" method="post" class="needs-validation" novalidate>
                <div class="card-body pt-2 pb-2">
                    <th:block th:each="instancia, iterStat : *{produtos}">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <div class="col-7 pe-1">
                                <strong th:text="${instancia.instanciaProduto.produto.descricao}"></strong>
                                <span th:text="${#numbers.formatCurrency(instancia.instanciaProduto.valor)}"></span>
                            </div>
                            <div class="col-2 px-1">
                                <input type="number" th:field="*{produtos[__${iterStat.index}__].quantidade}" class="form-control" min="1" required />
                            </div>
                            <div class="col-2 pl-1">
                                <a th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/rmv/instancia'(id=${instancia.instanciaProduto.id})}"
                                   class="btn btn-danger btn-sm">
                                    <i class="oi oi-x" title="Remover Item"></i>
                                </a>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Finalizar pedido</button>
                </div>
            </form>
        </div>
    </div>

</section>

</body>
</html>
