<!DOCTYPE html>
<html th:with="layout=${layout}" layout:decorate="${layout}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/cards.css}" rel="stylesheet" />
</head>
<body>
<section class="main p-4" layout:fragment="corpo">
    <div class="header-area container">
        <div class="title-group">
            <a th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/mesas'}" class="btn btn-primary" style="width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
                <i class="fa fa-arrow-left" style="font-size: 16px;"></i>
            </a>
            <h1 style="margin: 0;">Pedidos</h1>
        </div>
        <div class="button-group">
            <a class="btn btn-primary btn-md" th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/novo/' + ${mesa.id}}" role="button">
                <i class="fa-solid fa-plus"></i>
                <span>Novo Pedido</span>
            </a>
            <div th:if="${!#lists.isEmpty(pedidos)}">
                <form th:action="@{'/' + ${#strings.substringBefore(layout, '/')} + '/pedidos/conta/' + ${pedidos[0].conta.id} + '/solicitar'}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-success btn-md" style="width: 100%;">
                        <i class="fa-solid fa-receipt"></i>
                        <span>Solicitar Conta</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-2 mb-4">
        <div th:if="${total != null and total > 0}" class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-primary" role="alert">
                    <strong class="alert-heading">Conta</strong>
                    <p>Total: <span th:text="${#numbers.formatCurrency(total)}"></span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="listagem">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${sucesso}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${#lists.isEmpty(pedidos)}" class="alert alert-info" role="alert">
            Nenhum pedido encontrado.
        </div>


        <div th:each="pedido : ${pedidos}" th:if="${!#lists.isEmpty(pedidos)}">
            <div class="card">
                <div class="card-header">
                    <div class="header-left">
                        Pedido<span th:text="'#' + ${pedido.id}"></span> -
                        <div class="progress-status" th:classappend="${pedido.progressoPedido.name() == 'CANCELADO'} ? ' cancelled'">
                            Status: <span th:text="${pedido.progressoPedido.name()}"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="info-and-actions">
                        <div class="info-section">
                            <p>Horário: <span th:text="${#temporals.format(pedido.dataRegistro, 'HH:mm:ss')}"></span></p>
                        </div>
                        <div class="info-section">
                            <p id="atendente">Atendente: <span th:text="${pedido.atendente.nome}"></span></p>
                            <div class="card-actions">
                                <button class="btn btn-secondary btn-sm" th:attr="data-bs-toggle='collapse', data-bs-target='#' + 'products-' + ${pedido.id}">
                                    <i class="fa-solid fa-drumstick-bite" title="Ver Produtos"></i>
                                </button>
                                <a th:if="${pedido.progressoPedido.name() != 'CANCELADO'}" th:href="@{'/' + ${#strings.substringBefore(layout, '/')}  + '/pedidos/cancelar'(id=${pedido.id})}" class="btn btn-info btn-sm">
                                    <i class="oi oi-eye" title="Ver Pedido"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#cancelaPedido-' + ${pedido.id}" th:data-id="${pedido.id}" th:data-mesa-id="${mesa.id}" th:if="${pedido.progressoPedido.name() != 'CANCELADO'}">
                                    <i class="oi oi-circle-x" title="Cancelar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div th:id="'products-' + ${pedido.id}" class="collapse product-list">
                        <div th:if="${pedido.produtos != null and !#lists.isEmpty(pedido.produtos)}">
                            <div th:each="produto : ${pedido.produtos}" class="product-card">
                                <span class="product-info" th:text="${produto.instanciaProduto.produto.descricao}">Descrição</span>
                                <span class="product-info" th:text="'&#215; ' + ${produto.quantidade}">Quantidade</span>
                                <span class="product-info unit-price" th:text="${#numbers.formatCurrency(produto.instanciaProduto.valor)} + ' /cada'">Valor Unitário</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="~{pedido/modal :: cancelaPedido(${layout}, ${pedido.id}, ${mesa.id})}"></div>
        </div>
    </div>
</section>
</body>
</html>
