<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Atendente</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h2 th:text="${atendente.id == null ? 'Cadastrar Atendente' : 'Editar Atendente'}"></h2>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<form th:action="@{/atendentes}" th:object="${atendente}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="tipo">Tipo de Atendente:</label>
    <select th:field="*{tipo}" id="tipo">
        <option th:each="tipo : ${T(br.ufrn.imd.bd.model.TipoAtendente).values()}"
                th:value="${tipo}" th:text="${tipo}">Tipo</option>
    </select>
    <br/>

    <div th:if="${#fields.hasErrors('nome')}" class="error-message">
        <p th:errors="*{nome}"></p>
    </div>
    <label for="nome">Nome:</label>
    <input type="text" th:field="*{nome}" id="nome" />
    <br/>

    <div th:if="${#fields.hasErrors('login')}" class="error-message">
        <p th:errors="*{login}"></p>
    </div>
    <label for="login">Login:</label>
    <input type="text" th:field="*{login}" id="login" />
    <br/>

    <div th:if="${#fields.hasErrors('senha')}" class="error-message">
        <p th:errors="*{senha}"></p>
    </div>
    <label for="senha">Senha:</label>
    <input type="password" th:field="*{senha}" id="senha" />
    <br/>

    <div th:if="${#fields.hasErrors('email')}" class="error-message">
        <p th:errors="*{email}"></p>
    </div>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" />
    <br/>

    <input type="submit" value="Submit" />
</form>
</body>
</html>
