<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Telefone</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<h2 th:text="${telefone.telefone == null ? 'Cadastrar Telefone' : 'Editar Telefone'}">Cadastrar Telefone</h2>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<form th:action="${telefone.telefone} == null ?
                    @{'/funcionarios/' + ${telefone.funcionario.id} + '/telefones'} :
                    @{'/funcionarios/' + ${telefone.funcionario.id} + '/telefones/' + ${telefone.telefone} + '/editar'}" th:object="${telefone}" method="post">
    <input type="hidden" th:field="*{funcionario.id}" />

    <label for="telefone">Telefone:</label>
    <input type="text" th:field="*{telefone}" id="telefone" />
    <br/>

    <input type="submit" value="Submit" />
</form>
</body>
</html>
