<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring-Boot Básico</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <script src="https://kit.fontawesome.com/af46ebb8cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/lista.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <aside>
        <nav th:replace="~{conta/sidebar :: nav-sidebar}">
            <span>menu</span>
        </nav>
    </aside>

    <section layout:fragment="corpo" class="main p-3">
        <div class="header-area container" style="display: flex; justify-content: space-between; align-items: center;">
        </div>

        <h2 th:text="${conta.id == null ? 'Cadastrar Conta' : 'Editar Conta'}"></h2>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>

        <form th:action="${conta.id} == null ? @{/contas} : @{/contas/editar}" th:object="${conta}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div th:if="${#fields.hasErrors('statusConta')}" class="error-message">
                <p th:errors="*{statusConta}"></p>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select th:field="*{statusConta}" id="status" class="form-control">
                    <option th:each="status : ${T(br.ufrn.imd.bd.model.enums.StatusConta).values()}"
                            th:value="${status}" th:text="${status}">Status</option>
                </select>
            </div>

            <div th:style="${conta.statusConta.name() == 'SOLICITADA' || conta.statusConta.name() == 'FINALIZADA' ? '' : 'display:none;'}" id="metodoPagamentoBlock" class="form-group">
                <label for="metodo_pagamento">Método de Pagamento:</label>
                <select th:field="*{metodoPagamento}" id="metodo_pagamento" class="form-control">
                    <option th:each="metodo : ${T(br.ufrn.imd.bd.model.enums.MetodoPagamento).values()}"
                            th:value="${metodo.name()}" th:text="${metodo}">Metodo</option>
                </select>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var statusContaSelect = document.getElementById('status');
                var metodoPagamentoBlock = document.getElementById('metodoPagamentoBlock');

                function toggleMetodoPagamento() {
                    var status = statusContaSelect.value;
                    if (status === 'SOLICITADA' || status === 'FINALIZADA') {
                        metodoPagamentoBlock.style.display = '';
                    } else {
                        metodoPagamentoBlock.style.display = 'none';
                    }
                }

                statusContaSelect.addEventListener('change', toggleMetodoPagamento);
                toggleMetodoPagamento();
            });
        </script>
    </section>
</div>

<!-- Consolidated scripts section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybH7tHv77Jxl8K0T0b5UiROUqtG93Dz3ZZtZXGJ3lCElLk6R6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqQjP6Rn5au/JpA8Wb2Lob8ABSTDjF5BocEked14W4uL8vPBf5" crossorigin="anonymous"></script>

<script type="text/javascript">
    var url = '';

    $('button[id^="btn_"]').click(function() {
        var pathParts = $(this).attr('id').split('_');
        var basePath = pathParts[1];
        var entity = pathParts[2];
        var entityId = pathParts[3];

        url = `http://localhost:8080/${basePath}/${entity}/${entityId}/excluir`;
        console.log("oi");
    });

    $('#ok_confirm').click(function() {
        document.location.href = url;
    });
</script>

<!-- Nosso JS -->
<script th:src="@{/js/script.js}"></script>

</body>
</html>
