<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Contas</title>
</head>
<body>

<div th:replace="menu :: menu"></div>

<h1>Lista de Contas</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Atendente</th>
        <th>Mesa</th>
        <th>Caixa</th>
        <th>Status</th>
        <th>Método de Pagamento</th>
        <th>Data/Hora Finalização</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="conta : ${contas}">
        <td th:text="${conta.id}"></td>
        <td th:if="${conta.atendente != null}" th:text="${conta.atendente.nome}"></td>
        <td th:text="${conta.mesa.identificacao}"></td>
        <td th:if="${conta.caixa != null}" th:text="${conta.caixa.nome}"></td>
        <td th:text="${conta.statusConta}"></td>
        <td th:text="${conta.metodoPagamento}"></td>
        <td th:text="${conta.dataFinalizacao}"></td>
        <td>
<!--            <a th:href="@{'funcionarios/' + ${caixa.id} + '/telefones'}">Telefones</a>-->
<!--            <span>|</span>-->
            <a th:href="@{'contas/editar/' + ${conta.id}}">Editar</a>
            <span>|</span>
            <a th:href="@{'contas/excluir/' + ${conta.id}}" onclick="return confirm('Tem certeza que deseja excluir esta Conta?')">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
