<!DOCTYPE html>
<html layout:decorate="~{gerente/layout}" xmlns="http://www.w3.org/1999/xhtml">
<body>
<section class="main p-4" layout:fragment="corpo">
    <div class="header-area container" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Lista de Caixa</h1>
        <a class="btn btn-primary btn-md" th:href="@{/gerente/caixas/novo}" role="button">
            <i class="fa-solid fa-plus"></i>
            <span>Novo Caixa</span>
        </a>
    </div>

    <div class="container" id="listagem">

        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm flex-table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th class="action-column">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="caixa : ${caixas}">
                    <td th:text="${caixa.nome}"></td>
                    <td th:text="${caixa.login}"></td>
                    <td th:text="${caixa.email}"></td>
                    <td colspan="2">
                        <a class="btn btn-info btn-sm" th:href="@{'/gerente/caixas/' + ${caixa.id} + '/telefones'}" role="button">
                            <i class="fa-solid fa-phone" title="Ver Telefones" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-secondary btn-sm" th:href="@{'/gerente/caixas/' + ${caixa.id} + '/editar'}" role="button">
                            <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                        </a>
                        <button th:id="'btn_gerente' + '_caixas_' + ${caixa.id} + '_excluir'" type="button"
                                class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                            <span class="oi oi-circle-x" title="Exclusão" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{/modal :: modal}"></div>

</section>
</body>
</html>