<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Caixas</title>
</head>
<body>

<div th:replace="menu :: menu"></div>

<h1>Lista de Caixas</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Login</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caixa : ${caixas}">
        <td th:text="${caixa.id}"></td>
        <td th:text="${caixa.nome}"></td>
        <td th:text="${caixa.login}"></td>
        <td th:text="${caixa.email}"></td>
        <td>
            <a th:href="@{'caixas/editar/' + ${caixa.id}}">Editar</a>
            <span>|</span>
            <a th:href="@{'caixas/excluir/' + ${caixa.id}}" onclick="return confirm('Tem certeza que deseja excluir este caixa?')">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/caixas/novo">Adicionar Novo Caixa</a>
</body>
</html>
