<!DOCTYPE html>
<html th:with="layout=${layout}" layout:decorate="${layout}" xmlns="http://www.w3.org/1999/xhtml">
<body>

<section class="main p-4" layout:fragment="corpo">
    <div class="header-area container d-flex justify-content-between align-items-center">
        <h1 th:text="${instanciaProduto.id == null ? 'Cadastrar Produto' : 'Editar Produto'}"></h1>
    </div>

    <div class="container mt-4">
        <form th:action="@{'/' + ${#strings.substringBefore(layout, '/')} + '/produtos/salvar'}" th:object="${instanciaProduto}" method="post" class="needs-validation" novalidate>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{produto.id}" />
            <input type="hidden" th:field="*{ativo}" />

            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" th:field="*{produto.nome}" id="nome" class="form-control"
                       th:classappend="${#fields.hasErrors('produto.nome')} ? 'is-invalid'" required>

                <div class="invalid-feedback">
                    <span th:errors="*{produto.nome}"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="valor" class="form-label">Valor:</label>
                <input type="text" th:field="*{valor}" id="valor" class="form-control"
                       th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'" required>
                <div class="invalid-feedback">
                    <span th:errors="*{valor}"></span>
                </div>
            </div>

            <div class="mb-4">
                <label>Status:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{produto.disponivel}" id="disponivelTrue" value="true"
                           th:classappend="${#fields.hasErrors('produto.disponivel')} ? 'is-invalid'" required>
                    <label class="form-check-label" for="disponivelTrue">Disponível</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{produto.disponivel}" id="disponivelFalse" value="false"
                           th:classappend="${#fields.hasErrors('produto.disponivel')} ? 'is-invalid'" required>
                    <label class="form-check-label" for="disponivelFalse">Indisponível</label>
                </div>
                <div class="invalid-feedback">
                    <span th:errors="*{produto.disponivel}"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</section>

</body>
</html>