<!DOCTYPE html>
<html th:with="layout=${layout}" layout:decorate="${layout}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ServiServe</title>
</head>
<body>
<section class="main p-4" layout:fragment="corpo">
    <div class="header-area container" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Lista de Produtos</h1>
        <a class="btn btn-primary btn-md" th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/produtos/novo'}" role="button">
            <i class="fa-solid fa-plus"></i>
            <span>Novo Produto</span>
        </a>
    </div>

    <div class="container" id="listagem">

        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="instanciaProduto : ${instanciaProdutoList}">
                    <td th:text="${instanciaProduto.produto.descricao}"></td>
                    <td th:text="${instanciaProduto.produto.disponivel ? 'DISPONIVEL' : 'INDISPONIVEL'}"></td>
                    <td th:text="${#numbers.formatCurrency(instanciaProduto.valor)}"></td>
                    <td colspan="2">
                        <a class="btn btn-secondary btn-sm" th:href="@{'/' + ${#strings.substringBefore(layout, '/')} + '/produtos/' + ${instanciaProduto.id} + '/editar'}" role="button">
                            <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                        </a>

                        <!-- Botão que abre o modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal"
                                th:data-entity-id="${instanciaProduto.id}" th:data-base-path="${#strings.substring(layout, 0, #strings.indexOf(layout, '/'))}">
                            <span class="oi oi-circle-x" title="Exclusão" aria-hidden="true"></span>
                        </button>
                        <form th:id="'form_' + ${instanciaProduto.id}" th:action="@{'/' + ${#strings.substring(layout, 0, #strings.indexOf(layout, '/'))} + '/produtos/' + ${instanciaProduto.id} + '/excluir'}" method="post" style="display:none;">
                            <input type="hidden" name="_method" value="delete"/>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{/modal :: modal}"></div>

</section>
</body>
</html>
