<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>

<div th:replace="menu :: menu"></div>

<h1>Lista de Produtos</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Status</th>
        <th>Valor</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produtoDTO : ${produtos}">
        <td th:text="${produtoDTO.instanciaProduto.id}"></td>
        <td th:text="${produtoDTO.produto.nome}"></td>
        <td th:text="${produtoDTO.instanciaProduto.disponivel ? 'DISPONIVEL' : 'INDISPONIVEL'}"></td>
        <td th:text="${produtoDTO.instanciaProduto.valor}"></td>
        <td>
            <a th:href="@{'produtos/editar/' + ${produtoDTO.produto.id}}">Editar</a>
            <span>|</span>
            <a th:href="@{'produtos/excluir/' + ${produtoDTO.produto.id}}" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/produtos/novo">Adicionar Novo Produto</a>
</body>
</html>